---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%d.%m.%Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        
        {{ post.excerpt }}
        {% capture content_words %} 
          {{ post.content | number_of_words }} 
        {% endcapture %} 
        {% capture excerpt_words %} 
          {{ post.excerpt | number_of_words }} 
        {% endcapture %} 
        {% if excerpt_words != content_words %}
        <p><a class="btn btn-sm btn-primary" href="{{ post.url }}" role="button">Читать дальше <i class="fa fa-arrow-circle-right"></i></a>
        </p>
        {% endif %}

      </li>
    {% endfor %}
  </ul>
  
  <!-- Pagination links -->
  <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Назад</a>
  {% else %}
    <span class="previous">Назад</span>
  {% endif %}
  <span class="page_number ">Страница: {{ paginator.page }} из {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Вперед</a>
  {% else %}
    <span class="next ">Вперед</span>
  {% endif %}
</div>
  <br/>
  <p class="rss-subscribe">Подпишитесь <a href="{{ "/feed.xml" | prepend: site.baseurl }}">на RSS</a></p>

</div>
